<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Contact form{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <div class="container">
                <div class="row">
                    <div class="col-md-3">{% block leftCol %}{% endblock %}</div>
                    <div class="col-md-6">{% block midCol %}{% endblock %}</div>
                    <div class="col-md-3">{% block rightCol %}{% endblock %}</div>
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
